body {
	text-align: center;
}

#mapContainer {
	text-align: left;
	position: relative;
	width: 75%;
	height: 0px;
	display:inline-block;
}

#infoContainer {
	width: 24%;
	min-width: 240px;
	display: inline-block;
	vertical-align: top;
}

#mapAndInfo {
	width: 100%;
	margin: 0px auto;
}

#search > input {
	width: 15%;
	margin-left: auto;
}

#search > button {
	margin-right: auto;
}

#topbar {
}